.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.eventContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.eventCard {
  width: 30%;
  margin: 10px;
}
