.pageContainer {
  display: flex;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
  width: 100%;
  margin: 5%;
  padding: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.avatar {
  margin: 5%;
}

.listContainer {
  display: flex;
  align-items: flex-start;
  height: auto;
  width: 50%;
  padding: 5%;
  background-color: antiquewhite;
}
