.pageContainer {
  display: flex;
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.avatar {
  margin: 5%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 70%;
  padding: 5%;
}
